.pop-effect{
    -fx-background-color:#5f5656;
    -fx-cursor:hand;
    -fx-scale-x:1;
    -fx-scale-y:1;
    -fx-background-color:#828e97;
    -fx-text-fill:white;
    -fx-transition: all 0.5;
}

.pop-effect:hover{
    -fx-scale-x: 1.1;
    -fx-background-color:#524848;
}